---
title: Drew Jones
tagline: Creative Developer
description: Design Systems
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ title }} - {{ tagline }} - {{ description }}">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Volkhov:400i&display=swap&text=DJCaeilnoprstvw">
  <link rel="stylesheet" href="/assets/styles.css">
  <title>{{ title }}</title>
</head>
<body>
  <main>
    {{- content | safe }}
  </main>
</body>
</html>
