:root {
  --color-red: #8b0100;
  --color-pink: #ffb3b3;
  --color-peach: #ffd4b3;
  --color-yellow: #ffedb3;
  --color-mint: #b3e5d4;
  --color-black: #010b0c;
  --color-black-light: #212b2c;

  --color-primary: var(--color-red);
  --color-secondary: var(--color-pink);
  --color-background: var(--color-black);
  --color-foreground: var(--color-peach);
  --color-bright: var(--color-yellow);
  --color-muted: var(--color-mint);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1,
h2,
p {
  margin-block: 0;
  font-weight: normal;
}

a {
  cursor: default;
  text-decoration: none;
}

main {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

.drew {
  & h1,
  & p {
    font-weight: normal;
    font-family: "Petrona", serif;
    line-height: 1;
    color: var(--color-primary);
    margin: 0;
    text-transform: lowercase;
  }

  & h1 {
    letter-spacing: -0.009em;
    font-size: 6em;
  }

  & p {
    margin-inline-start: 4.8em;
    font-size: 2em;
  }
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  display: flex;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  padding-block-start: 1em;
  padding-block-end: 1em;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  & .menu {
    position: relative;
    font-size: 0.8rem;

    &:focus-within {
      & .sub {
        display: grid;
      }
    }

    & .main {
      display: block;
      position: relative;
      padding-inline-start: 1.625em;
      padding-inline-end: 0.625em;
      padding-block-start: 0.25em;
      padding-block-end: 0.25em;
      border-radius: 1em;

      &:hover {
        background-color: var(--color-black-light);

        & a {
          color: var(--color-bright);
        }
      }

      & .icon {
        position: absolute;
        top: 50%;
        left: 0.375em;
        transform: translateY(-53%);
        width: 1em;
        height: 1em;
        color: var(--color-bright);

        & svg {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      & .link {
        color: var(--color-secondary);
      }
    }

    & .sub {
      display: none;
      position: absolute;
      background-color: var(--color-black-light);
      padding: 1em;
      border-radius: 0.5em;
      min-width: 12em;
      gap: 0.5em;

      & a {
        color: var(--color-secondary);
        max-width: fit-content;

        &:hover {
          color: var(--color-bright);
        }
      }

      & p {
        font-size: 0.8em;
        color: var(--color-muted);
      }

      & .x {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        width: 1em;
        height: 1em;
        padding: 0.5em;
        color: var(--color-muted);
        cursor: pointer;

        & svg {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
}
