---
title: drew-jones.com
tagline: Creative developer
description: and systems thinker
layout: base.njk
---

<div class="drew">
  <h1>{{ title }}</h1>
  <p>{{ tagline }}</p>
</div>

<nav class="navigation">
  {% for link in links %}
  <div class="menu">
    <div class="main">
      <div class="icon" tabindex="0"><i data-lucide="{{ link.icon }}" aria-hidden="true"></i></div>
      <a class="link" href="{{ link.url }}" title="{{ link.description }}">{{ link.title }}</a>
    </div>
    {% if link.submenu %}
    <div class="sub">
      {% for sublink in link.submenu.links %}
      <a href="{{ sublink.url }}">{{ sublink.title }}</a>
      {% endfor %}
      {% for paragraph in link.submenu.paragraphs %}
      <p>{{ paragraph }}</p>
      {% endfor %}
      <i class="x" data-lucide="x" aria-hidden="true"></i>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</nav>
<div id="content"></div>

<script>
  // hipsteripsum by Elliott Foster – MIT license
  // https://github.com/elliotttf/hipsteripsum
  var HipsterIpsum = (function () {
    var latin = [
      'a', 'adipiscing', 'amet', 'arcu', 'at', 'auctor', 'bibendum', 'commodo', 'congue',
      'curabitur', 'cursus', 'diam', 'donec', 'duis', 'eget', 'elementum', 'enim', 'eros',
      'et', 'eu', 'fusce', 'gravida', 'in', 'integer', 'ipsum', 'justo', 'lectus', 'leo',
      'ligula', 'lorem', 'maecenas', 'magna', 'malesuada', 'massa', 'mattis', 'mauris',
      'metus', 'molestie', 'morbi', 'nam', 'nec', 'nibh', 'non', 'nulla', 'odio', 'orci',
      'ornare', 'pellentesque', 'pharetra', 'porta', 'porttitor', 'proin', 'quam',
      'quisque', 'risus', 'rutrum', 'sagittis', 'sapien', 'sed', 'sem', 'sit', 'sodales',
      'tellus', 'tempus', 'ultricies', 'urna', 'ut', 'vitae', 'vivamus', 'vulputate'
    ];

    var hipster = [
      '+1', '8-bit', "90's", 'actually', 'aesthetic', 'american apparel', 'street art',
      'artisan', 'asymmetrical', 'Austin', 'authentic', 'axe', 'bahn mi', 'banjo',
      'banksy', 'beard', 'before they sold out', 'bespoke', 'bicycle', 'biodiesel',
      'bitters', 'blog', 'Blue Bottle', 'Brooklyn', 'brunch', 'butcher', 'cardigan',
      'carles', 'chia', 'chic', 'chillwave', 'church-key', 'cleanse', 'cold-pressed',
      'craft beer', 'cray', 'cred', 'cronut', 'deep v', 'denim', 'direct trade',
      'disrupt', 'distillery', 'DIY', 'dreamcatcher', 'Echo Park', 'ennui', 'ethical',
      'Etsy', 'fanny pack', 'farm-to-table', 'fashion', 'fixie', 'flannel',
      'flexitarian', 'food truck', 'foodie', 'forage', 'freegan', 'gastropub',
      'gentrify', 'gluten-free', 'godard williamsburg', 'hashtag', 'health',
      'heirloom', 'Helvetica', 'hoodie', 'indie', 'intelligentsia', 'iphone', 'irony',
      'kale chips', 'keffiyeh', 'keytar', 'kickstarter', 'kitsch', 'kogi', 'laserdisc',
      'leggings', 'letterpress', 'life', 'literally', 'lo-fi', 'locavore', 'lol', 'lomo',
      'marfa', 'master', 'meditation', 'meggings', 'meh', 'migas', 'mixtape', 'mlkshk',
      'moon', 'mumblecore', 'mustache', 'narwhal', 'neutra', 'next level', 'noise-rock',
      'normcore', 'occupy', 'Odd Future', 'organic', 'PBR', 'PBR&B', 'photo booth',
      'pickled', 'Pinterest', 'Pitchfork', 'plaid', 'polaroid', 'pop-up', 'pork belly',
      'Portland', 'post-ironic', 'pour-over', 'pug', 'put a bird on it', 'quinoa',
      'raw denim', 'retro', 'roof party', 'salvia', 'San Francisco', 'scenester',
      'schlitz', 'seitan', 'selfies', 'selvage', 'semiotics', 'shabby', 'shoreditch',
      'shorts', 'skateboard', 'slow-carb', 'specs', 'stumptown', 'sustainable', 'swag',
      'tattoo', 'tattooed', 'taxidermy', 'Thundercats', 'tilde', 'tofu', 'Toms',
      'tote bag', 'tousled', 'trust fund', 'truffaut', 'try-hard', 'tumblr', 'twee',
      'typewriter', 'umami', 'vegan', 'VHS', 'Vice', 'vim', 'vinegar', 'vinyl', 'viral',
      'wayfarers', 'Wes Anderson', 'wire-rimmed glasses', 'wolf', 'xoxo', 'yolo',
      "you probably haven't heard of them", 'yr'
    ];

    return {
      get: function (para, html, excludeLatin) {
        var ret = '';
        var wCount = 0;
        var hipDist = Math.round(Math.random() * (10 - 3) + 3);

        para = para || 4;
        html = html || false;
        excludeLatin = !!excludeLatin;

        for (var p = 0; p < para; p++) {
          if (html) { ret += '<p>'; }

          var numSen = Math.round(Math.random() * (10 - 4) + 4);
          for (var s = 0; s < numSen; s++) {
            var sLen = Math.round(Math.random() * (20 - 15) + 15);
            for (var w = 0; w < sLen; w++, wCount++) {
              var i = 0;
              var word = '';

              if (excludeLatin || wCount % hipDist === 0) {
                i = Math.round(Math.random() * hipster.length);
                word = hipster[i];
              } else {
                i = Math.round(Math.random() * latin.length);
                word = latin[i];
              }

              if (w === 0 && typeof word !== 'undefined') {
                word = word.charAt(0).toUpperCase() + word.slice(1);
              }

              ret += word;
              if (w + 1 < sLen) { ret += ' '; }
            }
            ret += '.';
            if (s + 1 < numSen) { ret += ' '; }
          }

          if (html) { ret += '</p>\n'; }
          else if (p + 1 < para) { ret += '\n\n'; }
        }

        return ret;
      }
    };
  }());

  document.getElementById('content').innerHTML = HipsterIpsum.get(6, true, true);
</script>
